<%= render "shared/header_banner" %>
<div class="signup-container">
<h1>Be the voice of your industry</h1>
<h2>Finalize your account to get your podcast mastered</h2>


<div class="signup-section login-section">
    <div class="signup-form">
        <%= form_tag(:action => 'login_attempt') do %>
          <%= text_field_tag(:email, '', placeholder: 'Email Address', class: 'mdl-textfield__input') %>
          <%= password_field_tag(:password, '', placeholder: 'password', class: 'mdl-textfield__input') %>
          <%= submit_tag("Login", class: 'mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--colored submit-button') %>
        <% end %>
        <% flash.each do |key, value| %>
          <div class="signup-error"><%= value %></div>
        <% end %>
    </div>
</div>