<div class="blue-background">
<%= render "shared/header_banner" %>
<div class="signup-container">
<h1>Get consistent work that pays well</h1>
<h2>Submit your application for review</h2>

<div class="signup-section">
    <div class="signup-form">
          <%= form_for(:user, :url => {:controller => 'users', :action => 'create_editor'}) do %>
          <%= text_field_tag(:first_name, '', placeholder: 'First Name', class: 'mdl-textfield__input') %>
          <%= text_field_tag(:last_name, '', placeholder: 'Last Name', class: 'mdl-textfield__input') %>
          <%= text_field_tag(:email, '', placeholder: 'Email Address', class: 'mdl-textfield__input') %>
          <%= text_area_tag(:editing_description, '', placeholder: 'What type of editing do you do?', class: 'mdl-textfield__input') %>
          <%= text_field_tag(:previous_work, '', placeholder: 'Please provide a link to previous work', class: 'mdl-textfield__input') %>
          <%= password_field_tag(:password, '', placeholder: 'password', class: 'mdl-textfield__input') %>
          <%= password_field_tag(:password_confirmation, '', placeholder: 'password confirmation', class: 'mdl-textfield__input') %>
          <%= submit_tag("Create Account", class: 'mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--colored submit-button') %>
        <% end %>
        <% flash.each do |key, value| %>
          <div class="signup-error"><%= value %></div>
        <% end %>
    </div>
    <div class="signup-side-panel">
        <i class="material-icons">work_outline</i>
        <p>Peak Podcasting makes it simple to get paid for editing audio</p>
    </div>
</div>
</div>
</div>